@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.your-element {background: radial-gradient(100% 100% at var(--9-x-position) var(--9-y-position), #000000 -38%, transparent),radial-gradient(100% 100% at var(--10-x-position) var(--10-y-position), #616161 -82%, transparent),#000000;animation-name: main; animation-iteration-count: infinite; animation-duration: 10s; transition-timing-function: ease-in;}@property --9-x-position {
      syntax: '<percentage>';
        inherits: false;
        initial-value: 20%;
      }@property --9-y-position {
        syntax: '<percentage>';
          inherits: false;
          initial-value: 80%;
        }@property --10-x-position {
      syntax: '<percentage>';
        inherits: false;
        initial-value: 80%;
      }@property --10-y-position {
        syntax: '<percentage>';
          inherits: false;
          initial-value: 20%;
        }:root {--4-x-position: 20%;--4-y-position: 80%;--5-x-position: 80%;--5-y-position: 20%;--9-x-position: 20%;--9-y-position: 80%;--10-x-position: 80%;--10-y-position: 20%;}
    @keyframes main {
      25% {--9-x-position: 15%;--9-y-position: 15%;--10-x-position: 85%;--10-y-position: 80%;}50% {--9-x-position: 80%;--9-y-position: 15%;--10-x-position: 15%;--10-y-position: 85%;}
    }
    
    
    
    
    
    
    